body {
width:100%;
height:auto;
}

header {
  width:98%;
  background-color:#343A40;
  border: 1px solid coral;
  height: 100px;
  padding-left: 5px;
}

h1 {
  text-align:left;
  font-size: 30px;
  color:#AC8223;
}

h1 a {
  text-decoration:none;
  color:#AC8223;
}

h1 a:hover{
  color:white;
}

nav {
  text-align:left;
}
nav li{
  float:right;
  padding: 0 10px;
}

nav ul {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color:white;
}

nav li a:hover{
  color:#AC8223;
}

.top{
  width: 98.4%;
  height: 150px;
  border: 1px solid red;
  background-image:url("../img/consulting.jpg"); //Ref: https://www.google.com/search?q=International+Education+Support&sxsrf=ALeKk004wF_qeegX8TkXwW3d95bmakpmwg:1594222504722&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjaydjQ_b3qAhXBKqYKHWT0AnUQ_AUoAXoECAwQAw&biw=1325&bih=729#imgrc=kuIqk1rHmal6HM
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;

}

.left {
  width: 25%;
  border: 1px solid red;
  float:left;
  text-align:center;

}

.left ul {
  list-style-type: none;
}

.left li{
  padding: 26px 0;
}

.left li button {

}

#right {

  width: 98.25%;
  border: 1px solid red;
  float:left;
  background-color:aliceblue;
  font-family: sans-serif;
  padding: 0 0 0 2px;
  margin: 0 0;
  font-size: 15px;
}


.button {
  color: blue;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid red;
}



footer {
  width:98%;
  height: 300px;
  text-align:center;
  color: blue;
  font-size: 20px;
}
