body {
width:100%;
height:auto;
}

header {
  width:98%;
  background-color:#343A40;
  border: 1px solid coral;
  height: 100px;
  padding-left: 5px;

}

h1 {
  text-align:left;
  font-size: 30px;

}


h1 a {
  text-decoration:none;
  color:#AC8223;
}

h1 a:hover{
  color:white;
}

nav {
  text-align:left;
}
nav li{
  float:right;
  padding: 0 10px;
}

nav ul {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color:white;
}

nav li a:hover{
  color:#AC8223;
}

.top{
  width: 98.4%;
  height: 150px;
  border: 1px solid red;
  background-image:url("../img/councelling.jpeg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;

}

.left {
  width: 25%;
  height: 440px;
  border: 1px solid red;
  float:left;
  text-align:center;
  background-color:#343A40;

}

.left ul {
  list-style-type: none;
}

.left li{
  padding: 26px 0;
}

.left li button {

}

#right {

  width: 72.95%;
  height:420px;
  border: 1px solid red;
  float:left;
  padding: 10px 2px;
  text-align:center;
  background-color:aliceblue;
  color:white;
  overflow:scroll;background-image:url("../img/orientation.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;

}

#paragraph {
  font-family: sans-serif;
  padding: inherit;
  margin: 0 150px;
  font-size: 20px;
}
.button {
  color: blue;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid red;
}

button:hover {
  background-color: red;
}

footer {
  width:98%;
  height: 300px;
  text-align:center;
  color: blue;
  font-size: 20px;
}
